body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Montserrat', sans-serif !important;
}

#navbar {
  margin: 0px;
  background-color: transparent;
  text-align: center;

  height: 100px;
}

#logo {
  width: 70%;
}

.noTopPad {
  padding-top: 0px !important
}

.white {
  background-color: #f1f1f1 !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

#MilkyWay {
  width: 45%
}

#search {
  border-radius: 0.5rem;
}

.sun {
  margin-left: -600px;
  cursor: pointer;
}

.planet {
  width: 100%;
  cursor: pointer;
}

#MilkyWay {
  cursor: pointer;
}

.planet:hover, .sun:hover, #MilkyWay:hover {
  opacity: 0.8
}

.mercury {}

.venus {
  width: 141%;
  margin-left: 50%;
}

.earth {}

.mars {
  width: 80%;
  margin-left: -100%;
}

.jupiter {
  width: 200%;
  margin-left: -100%;
}

.saturn {
  width: 335%;
  margin-left: -108%;
}

.uranus {
  margin-left: 66%;
}

.neptune {}
