body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Montserrat', sans-serif !important;
  transition-duration: 0.4s;
}

#navbar {
  margin: 0px;
  background-color: transparent;
  text-align: center;

  height: 100px;
}

#logo {
  width: 70%;
}

.noTopPad {
  padding-top: 0px !important
}

.white {
  background-color: #f1f1f1 !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

#MilkyWay {
  width: 45%;
  animation: pulse 5s infinite;
  opacity: 0.8
}

#search {
  border-radius: 0.5rem;
}

.Sun {
  width:700px;
  margin-left: -500px;
}

.planet {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

#MilkyWay {
  cursor: pointer;
}

.solarTitle {
  color: white;
  font-size: 35px;
  margin-top: 2rem;
  margin-bottom: 0rem;
}

.infoBox {
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  margin-top: -14rem;
  padding: 20px;
  font-weight: bold;
  background-color: #005aff38;
  padding-left:95px;
}

.pInfoBox {
  color: white;
  border: 3px solid white;
  border-radius: 10px;
  padding: 20px;
  font-weight: bold;
  background-color: #005aff38;
  width:40%;
  margin: auto;
  margin-top: 2rem
}

.infoTable {
  text-align: left;
  width: 100%;
}

.solar-system {
  margin-top: -10rem !important;
}

.planet:hover {
  animation: pulse 4s linear infinite;
}

.Mercury {
  margin-left: 43%;
}

.Venus {
  margin-left: -17%;
}

.Earth {
  margin-left: -95%;
}

.Mars {
  margin-left: -182%;
}

.Jupiter {
  margin-left: -274%;
}
#Jupiter {
}

.Saturn {
  margin-left: -242%;
  width:400px;
}
#Saturn {
  width:100% !important;
  margin-top: 3rem;
}

.Uranus {
  margin-left: -42%;
  height:320px;
}
#Uranus {
  width:20% !important;
}

.Neptune{
  margin-left: -100%;
}

.moon-image {
  width: 20%;
  height: 20%;
  max-height: 180px;
  padding: 15px;
  max-width: 160px;
}

.moon-image:hover {
  cursor: pointer;
  opacity:0.8
}

.moonBox{
  display: 'flex';
  flex-wrap: 'wrap';
  flex-direction: 'row';
  justify-content: 'center';
}
